header {
	background-color: transparent;	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	padding: 0px 30px 40px;
	gap: 40px;
}

nav {	
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	gap: 50px;	
}

a {
	text-decoration: none;
	color: #000000;	
	padding-bottom: 5px;
 } 

 .active {		
	border-bottom: 2px dashed;	
 }

 header a {	
	font-weight: 600;	
	font-size: 18px;	
 } 

 .logo {
	font-family: 'Amatic SC', cursive;
	font-size: 22px;		
 }

 .logo h1 {
	 margin: auto;
	 padding-top: 20px;
 }